{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Suraj Sanjeev Pawar</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura' %}" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static '02-cv-boxed/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static '02-cv-boxed/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>
<div class="topnav">
             <a class="active" href="/Home/">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/About/">About</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Technology/">Technology</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
	
	<section class="intro-section">
		<div class="container">
		
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<h5>H NO 1823/1 SAMATANAGAR RAJGURUNAGAR</h5>
								<h5>PUNE,410505</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>9373798616</h5>
								<h6>MIN - FRI,8AM - 7PM</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>pawarsuraj614@gmail.com</h5>
								<h6>REPLY IN 24 HOURS</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
		</div>	
		
		
			<div class="intro">
				<div class="row">
				
					<div class="col-sm-8 col-md-4 col-lg-3">
						<div class="profile-img margin-b-30"><img src="{% static 'images/profile-1-250x2500.jpg' %}" alt=""></div>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-5 col-lg-6">		
							<h2><b>Suraj Sanjeev Pawar</b></h2>
						    <h4 class="font-yellow">I completed my engineering from SPPU University </h4>
			                <h4 class="font-yellow">Electronics and Telecommunication </h4>
			                <h4 class="font-yellow">I'm a person who known for being a great listener and clear communicator. </h4>
							<ul class="information margin-tb-30">
								<li><b>BORN : </b>November 15, 1997</li>
							    <li><b>EMAIL : </b>pawarsuraj614@gmail.com</li>
							
							</ul>
							<ul class="social-icons">
								<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
								<li><a href="#"><i class="ion-social-instagram"></i></a></li>
								<li><a href="#"><i class="ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="ion-social-twitter"></i></a></li>
							</ul>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-3 col-lg-3">
						<a class="downlad-btn" href="#">Download CV</a>
					</div><!-- col-lg-2 -->
			
				</div><!-- row -->
			
			</div><!-- intro -->
		</div><!-- container -->
		
	</section><!-- intro-section -->
	
	
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>About me</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				<div class="col-sm-12 col-md-9">
					<p class="margin-b-50">I'm Suraj Pawar from Bahul born and raised in Pune.
					I have a Bachelor's degree in Electronics and Telecommunication from Sinhgad Institute of Technology,Lonavala.
					My strengths are my attitude that I like to take challenges that i take both success and failure in a balance manner.
					My Hobbies are making posters and paining.</p>
					
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".97">
									<div></div>
									<h6 class="progress-title">HTML5 & CSS3</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".78">
									<div></div>
									<h6 class="progress-title">DJANGO</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".67">
									<div></div>
									<h6 class="progress-title">DATABASE</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-50">
								<div class="radial-progress" data-prog-percent=".97">
									<div></div>
									<h6 class="progress-title">PYTHON</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
					</div><!-- row -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Courses Experience</b></h3>
						<h6 class="font-lite-black"><b>Projects</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
				
					<div class="experience margin-b-50">
						<h4><b>Travello</b></h4>
						<h5 class="font-yellow"><b>DJANGO FRAMEWORK</b></h5>
						<h6 class="margin-t-10">MARCH 2020</h6>
						<p class="font-semi-white margin-tb-30">“ Travello Templates ” is a versatile and highly adaptive free travel website,used
						for Booking rooms in the different parts of a India,so that we can easily plan for our vacations in an cost effective way.
						Hotel operations vary in size, function, complexity, and cost. Most hotels and major hospitality companies have set industry standards to classify hotel types. Hotel operations vary in size, function, complexity, and cost. Most hotels and major hospitality companies 
						have set industry standards to classify hotel types.  </p>
						<ul class="list margin-b-30">
						    <li>I rarely stay in hotels because I have friends all over the world.</li>
							<li>Hotel life is about the same in every latitude.</li>
							<li>All good hotels tend to lead people to do things they wouldn't necessarily do at home.</li>
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Hooks Templates</b></h4>
						<h5 class="font-yellow"><b>DJANGO FRAMEWORK</b></h5>
						<h6 class="margin-t-10">JANURARY 2020</h6>
						<p class="font-semi-white margin-tb-30">“Hooks Templates” as Francisco & Laura Wedding Templates using 
						Djnago Web framework that encourages rapid development and clean,pragmatic design 
						as managing Static Files (images,JavaScript,CSS or HTML) Using Visual Studio Code  </p>
						<ul class="list margin-b-30">
						    <li>The highest happiness on earth is the happiness of marriage.</li>
							<li>Gravitation is not responsible for people falling in love..</li>
							<li>Oh the heart that has truly loved never forgets, But as truly loves on to the close.</li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	
	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Portfolio</b></h3>
						<h6 class="font-lite-black"><b>MY WORK</b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12 col-md-9">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>ALL</b></a>
						<a href="#" data-filter=".web-design"><b>WEB DESIGN</b></a>
						<a href="#" data-filter=".branding"><b>SCRATCH</b></a>
						<a href="#" data-filter=".graphic-design"><b>PYTHON </b></a>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
			
			<div class="portfolioContainer  margin-b-50">
				
				<div class="p-item web-design">
					<a href="{% static 'images/portfolio-13-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-13-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item branding graphic-design">
					<a href="{% static 'images/portfolio-14-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-14-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item web-design">
					<a href="{% static 'images/portfolio-15-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-15-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item graphic-design">
					<a class="img" href="{% static 'images/portfolio-16-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-16-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item branding graphic-design">
					<a href="{% static 'images/portfolio-17-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-17-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item graphic-design web-design">
					<a href="{% static 'images/portfolio-18-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-18-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
				
				<div class="p-item  graphic-design branding">
					<a href="{% static 'images/portfolio-19-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-19-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
					
				<div class="p-item web-design branding">
					<a href="{% static 'images/portfolio-20-400x4000.jpg' %}" data-fluidbox>
						<img src="{% static 'images/portfolio-20-400x4000.jpg' %}" alt=""></a>
				</div><!-- p-item -->
			
			</div><!-- portfolioContainer -->
		</div><!-- container -->
	</section><!-- portfolio-section -->

	<section class="quoto-section center-text">
		<div class="container">
			<div class="row"><center>
				<div class="col-sm-12">
				
					<h3 class="font-yellow"><b>Success seems to be connected with action.</b></h3>
					<h3><b>Success seems to be connected with action.They make <span class="font-yellow">mistakes,</span>,
					but they don't quit.</b></h3>
				</div><!-- col-sm-12 -->
			</div><!-- row -->
		</center></div><!-- container -->
	</section><!-- quoto-section -->
	
	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Suraj Sanjeev Pawar</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="{% static 'common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'common-js/scripts.js' %}"></script>
	
</body>
</html>