{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Suraj Sanjeev Pawar</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura' %}" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">
	
	<link href="{% static 'common-css/fluidbox.min.css' %}" rel="stylesheet">
	
	<link href="{% static '04-elements/css/styles.css' %}" rel="stylesheet">
	
	<link href="{% static '04-elements/css/responsive.css' %}" rel="stylesheet">
	
</head>
<body>
 <div class="topnav">
       <a class="active" href="/Home/">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/About/">About</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Technology/">Technology</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<h5>H NO 1823/1 SAMATANAGAR RAJGURUNAGAR </h5>
								<h5>PUNE,410505</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>9373798616</h5>
								<h6>MIN - FRI,8AM - 7PM</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>pawarsuraj614@gmail.com</h5>
								<h6>REPLY IN 24 HOURS</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
			<a class="downlad-btn" href="#">Download CV</a>
		</div><!-- container -->
	</div>	
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{% static 'images/profile-1-250x2500.jpg' %}" alt=""></div>
						<h2><b>Suraj Sanjeev Pawar</b></h2>
						<h4 class="font-yellow">I Completed my Engineering from SPPU University </h4>
			            <h4 class="font-yellow">Electronics and Telecommunication </h4>
			        
						<ul class="information margin-tb-30">
							<li><b>BORN : </b>November 15, 1997</li>
							<li><b>EMAIL : </b>pawarsuraj614@gmail.com</li>
						
						</ul>
						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram"></i></a></li>
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="btn-section section">
		<div class="container">
		
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>Buttons</b></h4>
					</div>
				</div><!-- col-sm-4 -->
			</div><!-- row -->
		
			<a class="btn btn-bg-yellow" href="#">Download CV</a>
			<a class="btn btn-bg-purple" href="#">Download CV</a>
			<a class="btn btn-border-purple" href="#">Download CV</a>
			<a class="btn btn-color-yellow" href="#">Download CV</a>
		</div><!-- container -->
	</section><!-- btn-section -->
	
	<section class="accordian-section section">
		<div class="container">
		
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>Progressbar & Accordians</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				
				<div class="col-md-12 col-lg-6">
				
					<div class="line-progress margin-b-20" data-prog-percent=".89"><div></div>
						<p class="progress-title"><b>HTML</b></p></div>
					
					<div class="line-progress margin-b-20" data-prog-percent=".91"><div></div>
						<p class="progress-title"><b>CSS</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".97"><div></div>
						<p class="progress-title"><b>PYTHON</b></p></div>
					
					<div class="line-progress margin-b-50" data-prog-percent=".85"><div></div>
						<p class="progress-title"><b>JAVA</b></p></div>

				</div><!-- col-sm-6 -->
				
				<div class="col-md-12 col-lg-6">
					<div class="panel margin-b-30">
						<div class="panel-area margin-b-30">
							<h5 class="panel-title active"><b>WEB DEVELOPER</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Web developers are found working in various types of organizations, including large,
							    corporations and governments, small and medium-sized companies, or alone as freelancers</p>
						</div><!-- panel-area -->
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>PYTHON DEVELOPER</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Many programming languages that are being used for backend development are emerging,
							    in the market: Python: Python is one of the most popular choices of backend programming.</p>
						</div><!-- panel-area -->
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>DJANGO FRAMEWORK</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Django is an open-source framework for backend web applications based on Python — ,
							    one of the top web development languages. Its main goals are simplicity, flexibility, reliability, and scalability.</p>
						</div><!-- panel-area -->
					</div><!-- panel -->
				</div><!-- col-sm-6-->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- accordian-section -->
	
	
	<section class="loaders-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>Loaders</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".82">
							<div></div>
							<h6 class="progress-title">HTML5 & CSS3</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".78">
							<div></div>
							<h6 class="progress-title">DJANGO</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".67">
							<div></div>
							<h6 class="progress-title">DATABASE</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-50">
						<div class="radial-progress" data-prog-percent=".97">
							<div></div>
							<h6 class="progress-title">PYTHON</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- loaders-section -->
	
	
	<section class="progression-section section" id="counter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>Progression</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
						<h5 class="desc"><b>Coder Degrees</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="10">0</span></b></h1>
						<h5 class="desc"><b>Projects</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="10">0</span></b></h1>
						<h5 class="desc"><b>Certificates</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="20">0</span></b></h1>
						<h5 class="desc"><b>Finished Projects</b></h5>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- progression-section -->
	
	
	<section class="iconboxes-section section" id="counter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>Iconboxes</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-rocket"></i>
						<h5 class="margin-tb-20"><b>SCRATCH CODING</b></h5>
						<p>Scratch is a block-based visual programming language.
						Users of the site can create online projects using a block-like interface. 
						The service is developed by the MIT Media Lab.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-cut"></i>
						<h5 class="margin-tb-20"><b>DJANGO FRAMEWORK</b></h5>
						<p>Django is a Python-based free and open-source web framework. 
						the model-template-view architectural pattern.It is maintained
					    by the Django Software Foundation, an American independent organization.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
			
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-star"></i>
						<h5 class="margin-tb-20"><b>CONVERSATION DIALOGFLOW</b></h5>
						<p>Creating Actions for Google Assistant requires
						a breadth of design expertise,ranging from voice user
						interface design, interaction design and visual design.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- progression-section -->
	
	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Suraj Sanjeev Pawar</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="{% static 'common-js/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'common-js/tether.min.js' %}"></script>
	
	<script src="{% static 'common-js/bootstrap.js' %}"></script>
	
	<script src="{% static 'common-js/isotope.pkgd.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.waypoints.min.js' %}"></script>
	
	<script src="{% static 'common-js/progressbar.min.js' %}"></script>
	
	<script src="{% static 'common-js/jquery.fluidbox.min.js' %}"></script>
	
	<script src="{% static 'common-js/scripts.js' %}"></script>
	
</body>
</html>